@font-face {
  font-family: 'iconfont';
  /* project id 986312 */
  src: url('//at.alicdn.com/t/font_986312_6i05dclsv2d.eot');
  src: url('//at.alicdn.com/t/font_986312_6i05dclsv2d.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_986312_6i05dclsv2d.woff') format('woff'),
    url('//at.alicdn.com/t/font_986312_6i05dclsv2d.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_986312_6i05dclsv2d.svg#iconfont') format('svg');
}